doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href='css/main.css')
    title='A Seed'
  body(ng-app='seedApp')
    h1 From Whence Grows an App
    #container.col(ng-view)
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js')
    script(type='text/javascript' src='js/app.noted.js')
    script(src='http://localhost:35729/livereload.js')